{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<div id="breadcrumb" class="section">
			<div class="container">
				<!-- row -->
				<div class="row"> <div class="col-md-12"> <ul
				class="breadcrumb-tree"> <li><a href="/"HOME></a></li> <li
				class="active">{{product.product_name}}</li>

						</ul>
		
			
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>

							
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{product.product_name}}</h2>
							
								<h3 class="product-price">"{{product.product_price}}"</h3>
								<span class="product-available">In Stock</span>
							</div>
							<p>{{ product.product_desc}}</p>
							
							<!-- Wishlist Buttons -->
{% if wishlist_flag == True %}
    <a href="{% url 'remove-from-wishlist' pk=product.pk %}">
        <input type="button" value="Remove from Wishlist" class="btn btn-danger">
    </a>
{% else %}
    <a href="{% url 'add-to-wishlist' pk=product.pk %}">
        <input type="button" value="Add to Wishlist" class="btn btn-primary">
    </a>
{% endif %}

<!-- Cart Buttons -->
{% if cart_flag == True %}
    <a href="{% url 'remove-from-cart' pk=product.pk %}">
        <input type="button" value="Remove from cart" class="btn btn-danger">
    </a>
{% else %}
    <a href="{% url 'add-to-cart' pk=product.pk %}">
        <input type="button" value="Add to cart" class="btn btn-primary">
    </a>
{% endif %}






							
	

		<!-- /SECTION -->
	</body>
</html>
{% endblock %}