{% extends 'seller-header.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
	

    </head>
	<body>
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">changepassword</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">changepassword</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->
		

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						{% if msg %}
						    <b style="color: blue;">{{msg}}</b>
						{% endif %}

						<form name="change-password" method="POST" action="{% url 'change-password' %}">
							{% csrf_token %}
							
							<div class="form-group">
								<input class="input" type="password" name="newpassword" placeholder="newpassword">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="oldpassword" placeholder="oldPassword">
							</div>
							
							<div class="form-group">
								<input class="input" type="cpassword" name="cpassword" placeholder="confirm Password">
							</div>
							<div class="form-group">
								<input class="btn btn-primary" type="submit" name="action" value="changepassword" >
							</div>

							
						</div>
						<!-- /Billing Details -->

						
		<!-- /SECTION -->

		
	</body>
</html>
{% endblock %}
